*{
  margin: 0;
  padding: 0;
}

html, body{
  width:100%;
  margin: 0;
  padding: 0;
  font-size: normal;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); /* W3C */
}

header{
  width: 100%;
  font-size: 7vw;
  color: #FFF;
  text-align: center;
  background: -webkit-linear-gradient(90deg, #333 10%, #666 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #333 10%, #666 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #333 10%, #666 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #333 10%, #666 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #333 10%, #666 90%); /* W3C */
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navigation{
  width: 100%;
}

.nav-item{
  cursor: pointer;
  height: 24px;
  width: fit-content;
}

.climateTable{
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
